<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="org.jboss.tools.aerogear.hybrid.core.projectGenerator" name="Native Platform Project Generators" schema="schema/org.jboss.tools.aerogear.hybrid.core.projectGenerator.exsd"/>
   <extension-point id="org.jboss.tools.aerogear.hybrid.core.projectBuilder" name="Native Binary Builder" schema="schema/org.jboss.tools.aerogear.hybrid.core.projectBuilder.exsd"/>
   <extension
         id="org.jboss.tools.aerogear.hybrid.core.HybridAppNature"
         name="Aerogear Hybrid Application Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="org.jboss.tools.aerogear.hybrid.core.natures.HybridAppNature">
         </run>
      </runtime>
      <requires-nature
            id="org.eclipse.wst.jsdt.core.jsNature">
      </requires-nature>
   </extension>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            base-type="org.eclipse.core.runtime.xml"
            describer="org.eclipse.core.runtime.content.XMLRootElementContentDescriber2:widget"
            file-names="config.xml"
            id="org.jboss.tools.aerogear.hybrid.core.configType"
            name="Aerogear Hybrid App Config File"
            priority="high">
      </content-type>
   </extension>
   <extension
         point="org.eclipse.wst.xml.core.catalogContributions">
      <catalogContribution>
         <uri name="http://www.w3.org/ns/widgets"
               uri="res/w3c-xsd/widget.xsd">
         </uri></catalogContribution>
   </extension>
   <extension
         point="org.eclipse.wst.jsdt.core.JsGlobalScopeContainerInitializer">
      <JsGlobalScopeContainerInitializer
            class="org.jboss.tools.aerogear.hybrid.core.internal.libraries.CordovaLibraryJsContainerInitializer"
            id="org.jboss.tools.aerogear.hybrid.core.CordovaContainerInitializer">
      </JsGlobalScopeContainerInitializer>
   </extension>
   <extension
         id="org.jboss.tools.aerogear.hybrid.core.CordovaInferenceProvider"
         point="org.eclipse.wst.jsdt.core.inferrenceSupport">
      <inferenceProvider
            class="org.jboss.tools.aerogear.hybrid.core.internal.libraries.CordovaInferrenceProvider">
      </inferenceProvider>
   </extension>
</plugin>
