<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension point="org.eclipse.debug.ui.launchShortcuts">
      <shortcut
            class="org.jboss.tools.aerogear.android.ui.AndroidEmulatorLaunchShortcut"
            icon="icons/elcl16/android_icon.png"
            id="org.jboss.tools.aerogear.android.ui.launch.emulator"
            label="Run on Android Emulator"
            modes="run">
        <contextualLaunch>
            <enablement>
                <with variable="selection">
                    <count value="1"/>
                    <iterate>
                        <adapt  type="org.eclipse.core.resources.IResource">
                        <test property="org.eclipse.core.resources.projectNature" 
                           value="org.jboss.tools.aerogear.hybrid.core.HybridAppNature" />    
                        </adapt> 
                    </iterate>
                </with>
            </enablement>
         </contextualLaunch>
      </shortcut>
      <shortcut
            class="org.jboss.tools.aerogear.android.ui.AndroidDeviceLaunchShortcut"
            icon="icons/elcl16/android_icon.png"
            id="org.jboss.tools.aerogear.android.ui.launch.device"
            label="Run on Android Device"
            modes="run">
        <contextualLaunch>
            <enablement>
                <with variable="selection">
                    <count value="1"/>
                    <iterate>
                        <adapt  type="org.eclipse.core.resources.IResource">
                        <test property="org.eclipse.core.resources.projectNature" 
                           value="org.jboss.tools.aerogear.hybrid.core.HybridAppNature" />    
                        </adapt> 
                    </iterate>
                </with>
            </enablement>
         </contextualLaunch>
      </shortcut>
   </extension>
 <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="org.jboss.tools.aerogear.android.ui.AndroidLaunchConfigurationTabGroup"
            description="Android Emulator"
            id="org.jboss.tools.aerogear.hybrid.android.ui.AndroildLaunchConfigurationTabGroup"
            type="org.jboss.tools.aerogear.hybrid.android.core.AndroidLaunchConfigurationType">
      </launchConfigurationTabGroup>
   </extension>
 <extension
       point="org.jboss.tools.aerogear.hybrid.ui.platformImages">
    <platformImage 
          icon="icons/elcl16/android_icon.png"
          id="org.jboss.tools.aerogear.hybrid.android.ui.platformImage"
          projectBuilder="org.jboss.tools.aerogear.hybrid.android.core.projectBuilder"
          platformSupport="org.jboss.tools.aerogear.hybrid.android.core.platformSupport">
    </platformImage>
 </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            icon="$nl$/icons/elcl16/android_icon.png"
            configTypeID="org.jboss.tools.aerogear.hybrid.android.core.AndroidLaunchConfigurationType"
            id="org.jboss.tools.aerogear.hybrid.android.ui.AndroidLaunchConfigurationTypeImage">
      </launchConfigurationTypeImage>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.jboss.tools.aerogear.hybrid.ui.internal.preferences.HybridMoblePreferencePage"
            class="org.jboss.tools.aerogear.hybrid.android.ui.internal.preferences.AndroidPreferencePage"
            id="org.jboss.tools.aerogear.hybrid.android.ui.AndroidPreferencePages"
            name="Android">
      </page>
   </extension>
   <extension
         point="org.eclipse.debug.core.statusHandlers">
      <statusHandler
            class="org.jboss.tools.aerogear.hybrid.android.ui.internal.statushandler.AVDStatusHandler"
            code="210"
            id="org.jboss.tools.aerogear.hybrid.android.ui.AVDStatusHandler"
            plugin="org.jboss.tools.aerogear.hybrid.android.core">
      </statusHandler>
   </extension>
 
</plugin>
