<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="org.jboss.tools.aerogear.hybrid.ios.core.simulator.IOSSimulatorLaunchDelegate"
            id="org.jboss.tools.aerogear.hybrid.ios.core.IOSSimulatorLaunchConfigType"
            modes="run"
            name="iOS Simulator">
      </launchConfigurationType>
   </extension>

</plugin>
