<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="org.jboss.tools.aerogear.hybrid.ios.core.simulator.IOSSimulatorLaunchDelegate"
            id="org.jboss.tools.aerogear.hybrid.ios.core.IOSSimulatorLaunchConfigType"
            modes="run"
            name="iOS Simulator">
      </launchConfigurationType>
   </extension>
   <extension
         point="org.jboss.tools.aerogear.hybrid.core.platformSupport">
      <platform
            projectGenerator="org.jboss.tools.aerogear.hybrid.ios.core.xcode.XcodeProjectGenerator"
            id="org.jboss.tools.aerogear.hybrid.ios.core.platformSupport"
            platform="iOS (XCode)"
            platformID="ios"
            pluginInstallActionFactory="org.jboss.tools.aerogear.hybrid.ios.core.xcode.IOSPluginInstallationActionsFactory"
            libraryResolver="org.jboss.tools.aerogear.hybrid.ios.core.xcode.IosLibraryResolver">
         <enablement>
            <systemTest
                  property="os.name"
                  value="Mac OS X">
            </systemTest>
         </enablement>
      </platform>
   </extension>
   <extension
         point="org.jboss.tools.aerogear.hybrid.core.projectBuilder">
      <builder
            delegate="org.jboss.tools.aerogear.hybrid.ios.core.xcode.XCodeBuild"
            id="org.jboss.tools.aerogear.hybrid.ios.core.nativeBuilder"
            platform="iOS (XCode)">
            <enablement>
            <systemTest
                  property="os.name"
                  value="Mac OS X">
            </systemTest>
         </enablement>
      </builder>
   </extension>

</plugin>
