<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="org.jboss.tools.aerogear.hybrid.android.core.adt.AndroidLaunchDelegate"
            id="org.jboss.tools.aerogear.hybrid.android.core.AndroidLaunchConfigurationType"
            modes="run"
            name="Android Emulator">
      </launchConfigurationType>
   </extension>
   <extension
         point="org.jboss.tools.aerogear.hybrid.core.platformSupport">
      <platform
            projectGenerator="org.jboss.tools.aerogear.hybrid.android.core.adt.AndroidProjectGenerator"
            id="org.jboss.tools.aerogear.hybrid.android.core.platformSupport"
            platform="Android"
            platformID="android"
            pluginInstallActionFactory="org.jboss.tools.aerogear.hybrid.android.core.adt.AndroidPluginInstallationActionsFactory"
            libraryResolver="org.jboss.tools.aerogear.hybrid.android.core.adt.AndroidLibraryResolver">
            
      </platform>
   </extension>
   <extension
         point="org.jboss.tools.aerogear.hybrid.core.projectBuilder">
      <builder
            delegate="org.jboss.tools.aerogear.hybrid.android.core.adt.BuildDelegate"
            id="org.jboss.tools.aerogear.hybrid.android.core.projectBuilder"
            platform="Android">
      </builder>
   </extension>

</plugin>
