<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
     <extension 
         point="tern.eclipse.ide.core.ternNatureAdapters">
      <ternAdaptToNature
            id = "org.eclipse.thym.core.HybridAppNature"
            name = "HybridAppNature">
         <defaultModules>
            <module name = "cordovajs" withDependencies="true" />
         </defaultModules>
      </ternAdaptToNature>
   </extension>
     <extension
           point="org.eclipse.ui.startup">
        <startup
              class="org.jboss.tools.aerogear.thym.internal.convert.NatureConvertListener"></startup>
     </extension>

</plugin>
