<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="org.jboss.tools.aerogear.hybrid.ui.platformImages" name="Platform mages" schema="schema/org.jboss.tools.aerogear.hybrid.ui.platformImage.exsd"/>

   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            canFinishEarly="false"
            category="org.jboss.tools.aerogear.hybrid.ui.category"
            class="org.jboss.tools.aerogear.hybrid.ui.wizard.project.NewHybridProjectWizard"
            hasPages="true"
            icon="icons/etool16/newcordovaprj_wiz.png"
            id="org.jboss.tools.aerogear.hybrid.ui.NewHybridProjectWizard"
            name="Hybrid Mobile (Cordova) Application Project"
            project="true">
      </wizard>
      <category
            id="org.jboss.tools.aerogear.hybrid.ui.category"
            name="Mobile">
      </category>
   </extension>
  <extension point="org.eclipse.ui.editors">
    <editor
          class="org.jboss.tools.aerogear.hybrid.ui.config.internal.ConfigEditor"
          default="true"
          icon="icons/obj16/cordova_16.png"
          id="org.jboss.tools.aerogear.hybrid.ui.config.internal.ConfigEditor"
          name="Cordova Configuration Editor">
       <contentTypeBinding
             contentTypeId="org.jboss.tools.aerogear.hybrid.core.configType">
       </contentTypeBinding>
    </editor>
  </extension>
  <extension
        point="org.eclipse.ui.preferencePages">
     <page
           class="org.jboss.tools.aerogear.hybrid.ui.internal.preferences.HybridMoblePreferencePage"
           id="org.jboss.tools.aerogear.hybrid.ui.internal.preferences.HybridMoblePreferencePage"
           name="Hybrid Mobile">
     </page>
  </extension>
  <extension
        point="org.eclipse.core.runtime.preferences">
     <initializer
           class="org.jboss.tools.aerogear.hybrid.ui.internal.preferences.PreferenceInitializer">
     </initializer>
  </extension>
  <extension
        point="org.eclipse.ui.exportWizards">
     <wizard
           category="org.jboss.tools.aerogear.hybrid.ui.category"
           class="org.jboss.tools.aerogear.hybrid.ui.wizard.export.NativeProjectExportWizard"
           icon="icons/etool16/exportnativeprj_wiz.png"
           id="org.jboss.tools.aerogear.hybrid.ui.exportNativeProjectWizard"
           name="Export Native Platform Project">
     </wizard>
     <wizard
           category="org.jboss.tools.aerogear.hybrid.ui.category"
           class="org.jboss.tools.aerogear.hybrid.ui.wizard.export.NativeBinaryExportWizard"
           icon="icons/etool16/exportnativeprj_wiz.png"
           id="org.jboss.tools.aerogear.hybrid.ui.exportNativeBinaryWizard"
           name="Export Mobile Application">
     </wizard>
     <category
           id="org.jboss.tools.aerogear.hybrid.ui.category"
           name="Mobile">
     </category>
  </extension>
  <extension
        point="org.eclipse.ui.ide.projectNatureImages">
     <image
           icon="icons/ovr16/cordova_botovr.png"
           id="org.jboss.tools.aerogear.hybrid.ui.HybridAppNatureImage"
           natureId="org.jboss.tools.aerogear.hybrid.core.HybridAppNature">
     </image>
  </extension>
  <extension
        point="org.eclipse.ui.navigator.navigatorContent">
     <navigatorContent
           contentProvider="org.jboss.tools.aerogear.hybrid.ui.plugins.navigator.internal.PluginContentProvider"
           icon="icons/icon32/plug32.png"
           id="org.jboss.tools.aerogear.hybrid.ui.pluginNavigatorContent"
           labelProvider="org.eclipse.ui.model.WorkbenchLabelProvider"
           name="Cordova Plugin Content"
           priority="normal">
        <enablement>
        	<and>
	        	<adapt type="org.eclipse.core.resources.IFolder">
                    <test property="org.eclipse.core.resources.name" value="plugins" />
                    <test property="org.eclipse.core.resources.path" value="/*/plugins" />
					<test property="org.eclipse.core.resources.projectNature" value="org.jboss.tools.aerogear.hybrid.core.HybridAppNature"/>
            	</adapt>
            </and>
        </enablement>
        <actionProvider
              class="org.jboss.tools.aerogear.hybrid.ui.plugins.navigator.internal.PluginActionProvider"
              id="org.jboss.tools.aerogear.hybrid.ui.pluginActionProvider"
              priority="normal">
        </actionProvider>
        <actionProvider
              class="org.jboss.tools.aerogear.hybrid.ui.plugins.navigator.internal.CordovaPluginActionProvider">
           <enablement>
              <instanceof
                    value="org.jboss.tools.aerogear.hybrid.core.plugin.CordovaPlugin">
              </instanceof>
           </enablement>
        </actionProvider>
     </navigatorContent>
     <commonFilter
           activeByDefault="true"
           class="org.jboss.tools.aerogear.hybrid.ui.plugins.navigator.internal.PluginsFolderContentFilter"
           description="Filters the contents of the folders for the installed Cordova Plugins"
           id="org.jboss.tools.aerogear.hybrid.ui.pluginsFolderFilter"
           name="Cordova Plugins Folder Filter"
           visibleInUI="true">
     </commonFilter>
  </extension>
  <extension
        point="org.eclipse.ui.navigator.viewer">
     <viewerContentBinding
           viewerId="org.eclipse.ui.navigator.ProjectExplorer">
        <includes>
           <contentExtension
                 pattern="org.jboss.tools.aerogear.hybrid.ui.*">
           </contentExtension>
        </includes>
     </viewerContentBinding>
  </extension>
  <extension
        point="org.eclipse.core.runtime.adapters">
     <factory
           adaptableType="org.jboss.tools.aerogear.hybrid.core.plugin.CordovaPlugin"
           class="org.jboss.tools.aerogear.hybrid.ui.internal.CordovaPluginAdapterFactory">
        <adapter
              type="org.eclipse.ui.views.properties.IPropertySource">
        </adapter>
        <adapter
              type="org.eclipse.ui.model.IWorkbenchAdapter">
        </adapter>
        <adapter
              type="org.eclipse.core.resources.IResource">
        </adapter>
     </factory>
  </extension>
  <extension
        point="org.eclipse.ui.propertyPages">
     <page
           class="org.jboss.tools.aerogear.hybrid.ui.internal.properties.EnginePropertyPage"
           id="org.jboss.tools.aerogear.hybrid.ui.internal.properties.enginePropertyPage"
           name="Hybrid Mobile Engine" >
        <enabledWhen>
          <adapt type="org.eclipse.core.resources.IProject">
                  <test property="org.eclipse.core.resources.projectNature" value="org.jboss.tools.aerogear.hybrid.core.HybridAppNature"/>
             </adapt>    
        </enabledWhen>
     </page>
  </extension>
</plugin>
